.skill-css, .skill-git, .skill-gulp, .skill-html, .skill-js{
	background: url(../img/sprites.png) no-repeat;
}

.skill-css{
	background-position: 0 0;
	width: 46px;
	height: 19px;
}

.skill-git{
	background-position: -47px 0;
	width: 41px;
	height: 19px;
}

.skill-gulp{
	background-position: -221px 0;
	width: 51px;
	height: 19px;
}

.skill-html{
	background-position: -168px 0;
	width: 52px;
	height: 19px;
}

.skill-js{
	background-position: -89px 0;
	width: 78px;
	height: 19px;
}

