@import "../fonts/fira.css";
html {
    height: 100%;
} 
* html body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.bar {
    height: 18px;
    background: green;
}
body {
    background: url(../img/comppattern2.png);
    font-family: 'fira_sansbook';
    color: #58697A;
    min-height: 100%;
    position: relative; 
}
.wrap {
    
    padding-bottom: 100px;
}

a {
    display: inline-block;
    font-family: 'fira_sanslight_italic';
    text-decoration: none;
    color: #3ba8c0;
    padding-bottom: 1px;
    height: 14px;
}
a:hover {
    padding-bottom: 0px;
    border-bottom: #3ba8c0 1px dotted;
}
h1 {
    font-family: 'fira_sansbook';
    font-size: 27pt;
}
h2 {
    font-family: 'fira_sansbook';
    font-size: 25pt;
}
h3 {
    font-family: 'fira_sansbook';
    font-size: 23pt;
}
h4 {
    font-family: 'fira_sansbook';
    font-size: 21pt;
}
h5 {
    font-family: 'fira_sansbook';
    font-size: 19pt;
}
h6 {
    font-family: 'fira_sansbook';
    font-size: 17pt;
}
.header {
    max-width: 100%;
    height: 60px;
    background: #eff3f7;
    padding: 30px 123px 30px 100px;
}
.gradient {
    width: 100%;
    height: 3px;
    /* Old browsers */
    
    background: -moz-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(29, 102, 122) 50%, rgb(29, 102, 122) 51%, rgb(231, 239, 243) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgb(231, 239, 243)), color-stop(50%, rgb(29, 102, 122)), color-stop(51%, rgb(29, 102, 122)), color-stop(100%, rgb(231, 239, 243)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(29, 102, 122) 50%, rgb(29, 102, 122) 51%, rgb(231, 239, 243) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(29, 102, 122) 50%, rgb(29, 102, 122) 51%, rgb(231, 239, 243) 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(29, 102, 122) 50%, rgb(29, 102, 122) 51%, rgb(231, 239, 243) 100%);
    /* IE10+ */
    
    background: linear-gradient(to right, rgb(231, 239, 243) 0%, rgb(29, 102, 122) 50%, rgb(29, 102, 122) 51%, rgb(231, 239, 243) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e7eff3', endColorstr='#e7eff3', GradientType=1);
    /* IE6-9 */
}
.logo {
    width: 245px;
    height: 58px;
    float: left;
}
.logo>a {
    display: block;
    width: 245px;
    height: 58px;
    float: left;
    background: url(../img/logo.png);
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}
.rotate:hover {
    display: block;
    transition: all 0.3s ease;
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.social {
    width: 260px;
    height: 47px;
    margin-top: 6px;
    float: right;
}
.social ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.social>ul>li {
    display: block;
    float: left;
    height: 47px;
    width: 47px;
    margin-right: 24px;
}
.social>ul>li:first-child+*+*+* {
    margin: 0;
}
.social>ul>li>a {
    border-bottom: none;
    display: block;
    height: 47px;
    width: 47px;
}
.vk>a {
    background: url(../img/vk.png) no-repeat;
}
.vk a:hover {
    background: url(../img/vk-hover.png) no-repeat;
}
.twitter>a {
    background: url(../img/twitter.png) no-repeat;
}
.twitter a:hover {
    background: url(../img/twitter-hover.png) no-repeat;
}
.fb>a {
    background: url(../img/fb.png) no-repeat;
}
.fb>a:hover {
    background: url(../img/fb-hover.png) no-repeat;
}
.github>a {
    background: url(../img/github.png) no-repeat;
}
.github a:hover {
    background: url(../img/github-hover.png) no-repeat;
}
.social .mobilenav {
    display: none;
}
.container {
    width: 983px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}
.sidebar {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
.mainmenu {
    width: 250px;
    border-radius: 5px;
    margin-bottom: 24px;
    background: #eff3f7;
    color: #58697A;
}
.mainmenu>li {
    height: 72px;
    padding: 0 10px;
}
.mainmenu>li>a {
    display: block;
    color: #58697A;
    width: 215px;
    font-family: 'fira_sansbook';
    font-size: 15pt;
    border-bottom: none;
    padding: 28px 0 26px 17px;
    text-decoration: none;
}
.mainmenu>li:not(:first-child)>a {
    border-top: 2px solid #3ba8c0;
}
.mainmenu>li>a:hover {
    color: #3ba8c0;
}
.mainmenu>li.active>a {
    font-family: 'fira_sansbook';
    font-size: 17pt;
    padding-top: 24px;
}
.mainmenu>li.active {
    background: #3ba8c0;
}
.mainmenu>li.active:first-child {
    border-radius: 5px 5px 0px 0px;
}
.mainmenu>li.active:last-child {
    border-radius: 0px 0px 5px 5px;
}
.mainmenu>li.active>a {
    color: #ffffff;
}
.mainmenu>li.active + li>a {
    border-top: none;
    padding-top: 28px;
}
.contacts-pl {
    display: none;
}
.contacts-pl, .contacts {
    list-style-type: none;
    color: #ffffff;
    width: 250px;
    margin: 0;
    padding: 0;
}
.contacts li {
    padding: 0 24px;
    color: #ffffff;
    height: 39px;
    font-size: 13pt;
    line-height: 39px;
    font-family: 'fira_sansregular';
}
.contacts li:first-child {
    background-color: #3ba8c0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 18px;
    font-size: 15pt;
}
.contacts-pl li:first-child, .contacts li:first-child+* {
    background-color: #44b9d4;
}
.contacts-pl li:first-child+*, .contacts li:first-child+*+* {
    background-color: #48CBE8;
}
.contacts li:first-child+*+*+* {
    background-color: #51DAF8;
    border-radius: 0px 0px 5px 5px;
}
.contacts-pl>li>a, .contacts>li>a {
    font-family: 'fira_sansregular';
    color: white;
    text-decoration: none;
    border: none;
    padding: 0;
}
.contacts-pl>li>a:hover, .contacts>li>a:hover {
    text-decoration: underline;
}
.main {
    width: 650px;
    display: inline-block;
    vertical-align: top;
    margin-left: 55px;
    padding: 0;
}
.post {
    background: #eff3f7;
    margin-bottom: 23px;
    border-radius: 5px;
}
.post .heading {} .post .heading span {
    font-family: 'fira_sansregular';
    font-size: 20pt;
    letter-spacing: 0.1px;
    display: inline-block;
    padding: 19px 25px 20px 21px;
    margin: 0;
    border-bottom: 2px solid #3ba8c0;
    color: #3ba8c0;
}
.post .userpic {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
}
.post .content {
    padding: 16px 0 21px 22px;
}
.post .content>.info>ul {
    font-family: 'fira_sansbook';
    font-size: 11pt;
    min-width: 375px;
    list-style: none;
    display: inline-block;
    padding: 8px 0 0 34px;
    margin: 0;
}
.post .content>.info>ul>li {
    padding-bottom: 24px;
}
.post .content>.info>ul>li:last-child {
    padding-bottom: 0px
}
.post .content>.info>ul>li>.bold {
    font-family: 'fira_sansmedium';
    font-size: 12pt;
    letter-spacing: 0.5px;
    padding-right: 16px;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.skills {
    width: 200px;
    display: inline-block;
    margin: -4px 0 0 -1px;
    padding: 0;
    vertical-align: top;
}
.skills>li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 2px 6px 7px 2px;
}
.skill-css, .skill-git, .skill-gulp, .skill-html, .skill-js {
    background: url(../img/sprites.png) no-repeat;
}
.skill-css {
    background-position: 0 0;
    width: 46px;
    height: 19px;
}
.skill-git {
    background-position: -47px 0;
    width: 41px;
    height: 19px;
}
.skill-gulp {
    background-position: -221px 0;
    width: 51px;
    height: 19px;
}
.skill-html {
    background-position: -168px 0;
    width: 52px;
    height: 19px;
}
.skill-js {
    background-position: -89px 0;
    width: 78px;
    height: 19px;
}
.job-item {
    margin: 23px 0 -3px 4px;
    padding-bottom: 5px;
}
.job-icon {
    width: 41px;
    margin-right: 28px;
    margin-left: 42px;
    text-align: right;
}
.job {} .job-icon, .job {
    display: inline-block;
    vertical-align: middle;
}
.job-place {
    font-family: 'fira_sansbook';
    margin-bottom: 10px;
}
.job-time {
    font-family: 'fira_sanslight';
    font-size: 11pt;
}
.portfolio {
    display: block;
}
.portfolio>.portfolio-item {
    float: left;
    text-align: center;
    width: 179px;
    height: 230px;
    margin: 17px 33px -6px 0px;
}
.portfolio>.portfolio-item:nth-child(3n+3) {
    margin-right: 0px;
}
.portfolio>.portfolio-item:first-child+*+* {
    margin-right: 0px;
}
.portfolio>.portfolio-item:first-child+*+*+*+*+* {
    margin-right: 0px;
}
.view {
    width: 179px;
    height: 125px;
    margin-bottom: 8px;
    border: 2px solid #3ba8c0;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    cursor: default;
}
.portfolio>.portfolio-item>a {
    margin-bottom: 10px;
}
.portfolio>.portfolio-item:last-child>.view {
    width: 180px;
    height: 126px;
    background: url(../img/addnew-bg.png) 50% 30% no-repeat;
    background-color: rgba(237, 248, 252, 0.64);
    color: #3ba8c0;
}
.view {
    position: relative;
}
.view .mask, .view .gotolink {
    width: 179px;
    height: 125px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    height: 129px;
}
.view a.info {
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'fira_sansregular';
    font-size: 10pt;
    padding: 6px 6px 0 6px;
    margin-top: 50px;
}
.view a.plus {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'fira_sansregular';
    font-size: 10pt;
    padding: 40px 0 0 0;
}
.third-effect .mask {
    opacity: 0;
    overflow: visible;
    border: 100px solid rgba(59, 168, 192, 0.7);
    box-sizing: border-box;
    transition: all 0.4s ease-in;
}
.third-effect a.info, .third-effect a.plus {
    /* Center the link */
    
    opacity: 0;
    transition: opacity 0.5s 0s ease-in;
}
.third-effect a.plus {
    width: 179px;
    height: 125px;
}
.third-effect:hover .mask {
    opacity: 1;
    border: 100px solid rgba(59, 168, 192, 0.7);
}
.third-effect:hover a.info, .third-effect:hover a.plus {
    opacity: 1;
    transition-delay: 0.3s;
}
.third-effect:hover a.plus {
    border-bottom: none;
}
.portfolio-item>a {
    font-size: 0.8em;
}
.portfolio-item>span {
    font-size: 0.9em;
}
.add {
    border: 1px dashed #3ba8c0;
}
.fa-times {
    display: block;
    cursor: pointer;
}
.contact-form {
    margin-bottom: 20px;
}
.contact-head {
    background: #48CBE8;
    border-bottom: 18px solid #67DFFA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    height: 120px;
    line-height: 120px;
    color: #ffffff;
    font-size: 19pt;
    vertical-align: middle;
}
.contact-body {
    padding: 40px 125px;
    background: #eff3f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'fira_sanslight';
    font-size: 14pt;
}
.contact-body>form>.input-label>label {
    margin: 6px 0 4px 0px;
}
.text-input {
    display: block;
    margin: 0;
    padding: 0 0 0 10px;
    border: 1px solid #48CBE8;
    border-radius: 3px;
    font-family: 'fira_sanslight';
    font-size: 9pt;
    color: #48CBE8;
    transition: all 0.4s ease-out;
}
.text-input:focus {} .input-label {
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}
input::-webkit-input-placeholder {
    color: #48CBE8;
}
input::-moz-placeholder {
    color: #48CBE8;
}
/* Firefox 19+ */

input:-moz-placeholder {
    color: #48CBE8;
}
/* Firefox 18- */

input:-ms-input-placeholder {
    color: #48CBE8;
}
textarea::-webkit-input-placeholder {
    color: #48CBE8;
}
textarea::-moz-placeholder {
    color: #48CBE8;
}
textarea:-moz-placeholder {
    color: #48CBE8;
}
textarea:-ms-input-placeholder {
    color: #48CBE8;
}
.name {
    margin-right: 20px;
}
.name-input, .email-input {
    width: 178px;
}
.textarea>.area {
    display: block;
    width: 390px;
    height: 150px;
    padding-top: 10px;
}
.area {
    outline: none;
    resize: none;
    overflow: auto;
}
#capcha {
    padding-top: 5px;
    font-size: 12pt;
}
#capcha>label {
    display: inline-block;
}
#capcha>input {
    width: 188px;
    display: inline-block;
    float: right;
    margin-top: 15px;
}
img.captcha {
    display: inline-block;
    width: 188px;
}
.has-error>.text-input, .has-error>.file_upload {
    border-color: #f97e76;
    background-color: #fad2d1;
}
.has-error>.fileform {
    border-color: #f97e76;
    background-color: #fad2d1;
}
.has-error>.fileform>.selectbutton {
    background-color: #f97e76;
}
.btn {
    width: 139px;
    height: 31px;
    display: block;
    color: white;
    text-decoration: none;
    padding: ;
    border: 0 solid transparent;
    border-radius: 3px;
    transition: 0.2s;
    font-family: 'fira_sansbook';
    font-size: 14pt;
}
.submit {
    float: left;
    clear: left;
    background: #48cbe8;
    box-shadow: 0 -3px #3ba8c0 inset;
}
.submit:hover {
    background: #3ba8c0;
}
.submit:active {
    background: #48cbe8;
    box-shadow: 0 3px #3ba8c0 inset;
}
.btn:disabled {
    background: #aaa;
    box-shadow: 0 3px #666 inset;
    color: #ccc;
}
.reset {
    float: right;
    background: #849db5;
    box-shadow: 0 -3px #687b8f inset;
}
.reset:hover {
    background: #687b8f;
}
.reset:active {
    background: #849db5;
    box-shadow: 0 3px #687b8f inset;
}
.copyright {
    display: inline-block;
}
#substrate-footer {
    height: 83px;
}
.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 83px;
    line-height: 80px;
    margin-top: 83px;
    padding: 0;
    font-family: 'fira_sanslight';
    font-size: 10pt;
    text-align: center;
    background: #eff3f7;
}
.footer>.lock {
    display: block;
    float:left;
    margin-left: 150px;
    color:black;
    border:none;

}
.auth {
    width: 50%;
    float: none;
    margin:0 auto;
    margin-bottom: 20px;
    border-radius:5px;
    box-shadow: 2px 5px 7px rgba(0,0,0,0.25)
}
.auth>.contact-head {
    border-bottom: 15px solid #67DFFA;
    height: 92px;
    line-height: 92px;
}
.container>.contact-form.auth>.contact-body{
    padding: 10px 0;
    text-align: center;
}
.auth>.contact-body .input-label {
    float:none;
}
.auth>.contact-body>form>.submit.btn {
    float: none;
    margin:5px auto;
}
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/

.addnew-form .file_upload, .addnew-form .text-input {
    padding: 0 0 0 8px;
    width: 320px;
}
.file_upload {
    position: relative;
    overflow: hidden;
    font-size: 1em;
    /* example */
    
    height: 2em;
    /* example */
    
    line-height: 2em;
    /* the same as height */
    
    padding: 0;
}
.file_upload > button {
    float: right;
    width: 8em;
    /* example */
    
    height: 100%
}
.file_upload > div {
    font-family: 'fira_sanslight';
    font-size: 9pt;
    color: #48CBE8;
    padding-left: 1em
    /* example */
}
.file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;
    /* IE 9 fix */
    
    -ms-transform: scale(20);
    /* IE 9 fix */
    
    opacity: 0;
    cursor: pointer
}
/* Making it beautiful */

.file_upload {
    border: 1px solid #48CBE8;
    border-radius: 3px;
    background: #fff;
}
.file_upload.focus {} .file_upload > button {
    background: #48CBE8;
    width: 42px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.file_upload:hover > button {
    background: #3BA8C0;
}
.file_upload:active > button {
    background: #3BA8C0;
}
.has-error:hover button, .has-error:active button, .has-error button {
    background: #F97E76;
}
.addnew-window {
    width: 362px;
    height: 493px;
    margin: 100px auto auto;
    font-family: 'fira_sansbook';
}
.addnew-heading {
    background: #48CBE8;
    border-bottom: 9px solid #67DFFA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    height: 46px;
    line-height: 46px;
    color: #ffffff;
    font-family: 'fira_sansregular';
    font-size: 19pt;
    vertical-align: middle;
    padding: 0 13px;
}
.addnew-heading .modalhead {
    float: left;
}
.addnew-heading i {
    float: right;
    margin-top: 10px;
    margin-right: 1px;
}
.addnew-content {
    padding: 1px 20px 20px;
    padding: 1px 20px 0px 20px;
    background: #eff3f7;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
input {
    height: 38px;
    border: 1px solid #48cbe8;
    border-radius: 5px;
    width: 310px;
    margin-bottom: 3px;
    font-family: 'fira_sanslight';
    padding-left: 10px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
.fileform {
    background-color: #FFFFFF;
    border: 1px solid #48cbe8;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 320px;
    font-family: 'fira_sanslight';
    font-size: 13px;
}
.fileform .selectbutton {
    background-color: #48cbe8;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 38px;
    line-height: 20px;
    overflow: hidden;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}
.fileform #upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index: 20;
}
.holder-upload {
    color: #48CBE8;
    display: inline-block;
    padding: 12px;
}
#url {
    margin-bottom: 8px;
}
.addnew-content>form>textarea {
    display: block;
    border: 1px solid #48cbe8;
    border-radius: 5px;
    width: 308px;
    height: 100px;
    font-family: 'fira_sanslight';
    padding: 8px 0 0 10px;
}
.addnew-content>form>.btn {
    padding: 0;
    margin: 12px 0 10px 91px;
}
#modalback {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(88, 105, 122, 0.75);
    z-index: 100;
    overflow: auto;
}
#addnew-window {
    margin: 50px auto;
    display: none;
    width: 362px;
    height: 483px;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1024px) and (min-width: 413px) {
    .header {
        padding-left: 40px;
        padding-right: 40px;
    }
    .container {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .main {
        display: block;
        margin: 0 auto;
    }
    .contacts-pl {
        display: block;
        width: 100%;
        border-radius: 0px;
    }
    .contacts-pl>li {
        display: inline-block;
        box-sizing: border-box;
        border-radius: 0px;
        float: left;
        width: 33.333333333%;
        padding: 16px 20px 14px 20px;
        text-align: center;
    }
    .contacts-pl>li:first-child+*+* {
        background-color: #51DAF8;
    }
    .social {
        width: 350px;
    }
    .social>ul {
        margin-left: -30px;
    }
    .social>.mobilenav {
        position: relative;
        text-align: center;
        display: block;
        float: left;
        left: 300px;
    }
    .social>.mobilenav>a {
        padding: 7px 8px;
    }
    .mobilenav>.mainmenu {
        display: block;
        position: absolute;
        width: 240px;
        left: -167px;
        top: 55px;
        z-index: 2000;
        text-align: left;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .mobilenav>.mainmenu>li>a {
        width: 207px;
    }
    .mobilenav>.mainmenu>li:first-child>a {
        margin-top: -30px;
    }
    .mainmenu>li>.arrow {
        width: 0px;
        position: relative;
        top: -29px;
        left: 165px;
        border: 15px solid;
        border-color: transparent;
        border-bottom-color: rgb(239, 243, 247);
    }
    .mainmenu>li.active>.arrow {
        border: 15px solid;
        border-color: transparent;
        border-bottom-color: #3ba8c0;
    }
    .mobilenav>#showmenu {
        display: none;
    }
    .portfolio {
        padding: 0 45px;
    }
    .portfolio>.portfolio-item, .portfolio>.portfolio-item:nth-child(3n+3) {
        width: 229px;
        margin: 22px 54px 0 0;
    }
    .portfolio>.portfolio-item:nth-child(2n+2) {
        margin-right: 0;
    }
    .portfolio>.portfolio-item>.view {
        width: 229px;
        height: 163px;
    }
    .portfolio>.portfolio-item>.view img {
        height: 163px;
    }
    .portfolio>.portfolio-item:last-child>.view {
        width: 229px;
        height: 163px;
    }
    .view .mask, .view .gotolink {
        width: 229px;
        height: 163px;
    }
    .mobilenav>a.sm {
        color: #58697a;
        text-decoration: none;
        border: none;
    }
    .mobilenav>a.sm {
        color: #58697a;
        text-decoration: none;
        border: none;
    }
}
@media (max-width: 414px) {
    .header {
        width: 100%;
        height: 52px;
        padding: 0;
        text-align: center;
    }
    .logo {
        width: 137px;
        height: 32px;
        margin: 10px 0 10px 10px;
    }
    .header>.logo>a {
        width: 137px;
        height: 32px;
        background: url(../img/logo.png);
        background-size: 100% auto;
    }
    .social>ul {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .main {
        display: block;
        margin: 0 auto;
    }
    .contacts-pl {
        display: block;
        width: 100%;
        border-radius: 0px;
    }
    .contacts-pl>li {
        display: inline-block;
        box-sizing: border-box;
        border-radius: 0px;
        float: left;
        clear: both;
        width: 100%;
        padding: 16px 20px 14px 20px;
        text-align: center;
    }
    .contacts-pl>li:first-child+*+* {
        background-color: #51DAF8;
    }
    .social>.mobilenav {
        position: relative;
        text-align: center;
        display: block;
        float: left;
        left: 200px;
        top: -55px;
    }
    .social>.mobilenav>a {
        padding: 7px 8px;
    }
    .mobilenav>.mainmenu {
        display: block;
        position: absolute;
        min-width: 320px;
        width: 100%;
        left: -260px;
        top: 75px;
        z-index: 2000;
        text-align: center;
        background-color: #EFF3F7;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .mobilenav>.mainmenu>li {
        background-color: #EFF3F7;
        border-radius: 0px;
        height: 30px;
    }
    .mobilenav>.mainmenu>li.active {
        background: #3BA8C0
    }
    .mobilenav>.mainmenu>li>a {
        padding: 5px 0;
        min-width: 280px;
    }
    .mainmenu>li.active {
        border-radius: 0px;
    }
    .mainmenu>li.active + li>a {
        padding-top: 7px;
    }
    .mobilenav>.mainmenu>li:first-child>a {
        margin-top: -30px;
    }
    .mainmenu>li>.arrow {
        display: none;
        width: 0px;
        position: relative;
        top: -29px;
        left: 165px;
        border: 15px solid;
        border-color: transparent;
        border-bottom-color: rgb(239, 243, 247);
    }
    .mobilenav>#showmenu {
        display: none;
    }
    .mainmenu>li.active:first-child, .mainmenu>li.active:last-child {
        border-radius: 0;
    }
    .container {
        width: 100%;
    }
    .main {
        width: 90%;
    }
    .post .heading {
        text-align: center;
    }
    .post .heading span {
        font-size: 18pt;
        padding: 19px 10px 20px 10px;
        border: 0;
    }
    .post>.content {
        padding: 20px 10px;
        text-align: center;
    }
    .post>.content>.info>ul {
        width: 100%;
        min-width: 100px;
        text-align: center;
        padding: 10px 0;
    }
    .content>.info>ul>li>span {
        display: block;
        margin-bottom: 10px
    }
    .job-item {
        margin: 0 0 20px 0;
    }
    .job-icon {
        margin: 0 100px 10px 100px;
    }
    .footer {
        padding: 0 10px;
        line-height: inherit;
    }
    .gradient.bottom {
        margin-bottom: 10px;
    }
    .main>.post>.content>.portfolio>.portfolio-item {
        float: none;
        margin: 0 auto;
    }
    .contact-head {
        padding: 30px 0;
        height: auto;
        width: 100%;
        white-space: normal;
        text-align: center;
        line-height: inherit;
        font-size: 22px;
    }
    .contact-body {
        padding: 15px;
    }
    .contact-body>form>.input-label>.text-input {

    }
    #addnew-window {
        width: 90%;
    }
    .addnew-form .file_upload, .addnew-form .text-input {
        width: 100%;
    }
    .addnew-form {
        width: 100%;
    }
    .addnew-form>.input-label {
        width: 95%;
    }

    .addnew-content {
    	padding: 10px;
    }
    .input-label .textarea>.area, .contact-body>form>.input-label>input {
        box-sizing: border-box;
        width: 100%
    }
    .addnew-content>form>.btn {
		margin: 12px 0 10px 61px;
    }
    .textarea>.area {
        height: 100px;
    }
    #capcha {
        font-size: 10pt;
    }
    #capcha>.capcha-input {
        float: none;
    }
    .contact-body>form>input, .contact-body>form>button {
        box-sizing: border-box;
        width: 104px;
    }
    .mobilenav>a.sm {
        color: #58697a;
        text-decoration: none;
        border: none;
    }
    .mobilenav>a.sm {
        color: #58697a;
        text-decoration: none;
        border: none;
    }
	.modalhead {
		font-size:22px;
	}
}
