body {
	background: url(../img/comppattern2.png);
	max-width: ;
}
.header {
	max-width:100%;
	/*max-width: 1240px;*/
	height:53px;
	background: #eff3f7;
	padding: 30px 100px ;
}
.logo{
	width: 245px;
	height: 58px;
	float: left;
	background: url(../img/logo.png);
}
.social {
	
	width:260px;
	height: 47px;
	float: right;
}
.social ul{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.social ul li {
	display: block;
	float:left;
	height: 47px;
	width: 47px;
	padding-right: 24px;
}
.social ul li:last-child{
	padding: 0;
}
.social ul li a {
	display: block;
	height: 47px;
	width: 47px;
}
.vk a {
	background: url(../img/vk.png);
}
.vk a:hover {
	background: url(../img/vk-hover.png);
}
.twitter a {
	background: url(../img/twitter.png);
}
.twitter a:hover {
	background: url(../img/twitter-hover.png);
}
.fb a {
	background: url(../img/fb.png);
}
.fb a:hover {
	background: url(../img/fb-hover.png);
}
.github a {
	background: url(../img/github.png);
}
.github a:hover {
	background: url(../img/github-hover.png);
}
.gradient {
	width: 100%;
	height: 3px;
	background: rgb(231,239,243); /* Old browsers */
	background: -moz-linear-gradient(left,  rgb(231,239,243) 0%, rgb(29,102,122) 50%, rgb(29,102,122) 51%, rgb(231,239,243) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(231,239,243)), color-stop(50%,rgb(29,102,122)), color-stop(51%,rgb(29,102,122)), color-stop(100%,rgb(231,239,243))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgb(231,239,243) 0%,rgb(29,102,122) 50%,rgb(29,102,122) 51%,rgb(231,239,243) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgb(231,239,243) 0%,rgb(29,102,122) 50%,rgb(29,102,122) 51%,rgb(231,239,243) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgb(231,239,243) 0%,rgb(29,102,122) 50%,rgb(29,102,122) 51%,rgb(231,239,243) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgb(231,239,243) 0%,rgb(29,102,122) 50%,rgb(29,102,122) 51%,rgb(231,239,243) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eff3', endColorstr='#e7eff3',GradientType=1 ); /* IE6-9 */

}